{% extends 'base.html' %}
{% load static %}
{% block title%}Reset Password  {% endblock %}
{% block content %}


        <!--====== App Content ======-->
        <div class="app-content">

         

            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                   {% include 'profile-side-bar.html' %}
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Reset Password</h1>
                                            <form class="dash-address-manipulation" method="post" action="">
                                                {% csrf_token %}
                                                
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <label   class="gl-label" for="address-phone"> New Password *</label>

                                                        <input  name="password_1"  class="input-text input-text--primary-style" type="password"  placeholder="Enter New Password" required></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-street">Confirm Password *</label>

                                                        <input  name="password_2" value="" class="input-text input-text--primary-style" type="password" id="address-street" placeholder="Re-enter Password" required></div>
                                                </div>
                                                {% if error_message %}
                                            <p class="text-danger">{{error_message}}</p>
                                            {% endif %}

                                            {% if success_message %}
                                            <p class="text-success">{{success_message}}</p>
                                            {% endif %}

                                                
                                                <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                            </form>
                                        </div>
                                        <div>
                                            
                                        </div>
                                    {% if success_message %}
                                    <a href="{% url 'signin' %}">Sign in here</a>
                                    {% endif %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
        {% endblock %}
