{% load each_cart_item_price %}
{% load sub_total_of_cart %}
{% load calculate_discount_amount %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <style>
    body {
      background-color: #f8f9fa;
    }
    .card-header {
      background-color: #007bff;
      color: white;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    .btn-success {
      background-color: #28a745;
      border-color: #28a745;
    }
    .btn-success:hover {
      background-color: #218838;
      border-color: #218838;
    }
    .address-box {
      border: 1px solid #dee2e6;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .product-img {
      max-width: 80px;
      max-height: 80px;
    }
    .remove-icon {
      color: red;
  }
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.copy-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #0056b3;
}
.icon {
    margin-right: 8px;
}
  </style>
</head>
<body>
  <div class="container mt-5">
    <h2 class="text-center mb-4">Checkout</h2>

    {% if error_message %}
        <div class="alert alert-danger text-center" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    <!-- Coupon Section -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-header">
                {% if discount_percentage %}
                    Applied Coupon: {{ coupon_code }}
                    <a href="{% url "remove_coupon" %}" style="color: inherit; text-decoration: none;"> <!-- Override anchor tag styles -->
                        <i class="fas fa-times-circle fa-lg remove-icon"></i>
                        <!-- Example remove icon, you can use your own -->
                    </a>
                {% else %}
                    Apply Coupon
                {% endif %}
            </div>
            
                <div class="card-body">
                    {% if not discount_percentage %}
                        <form action="{% url 'apply_coupon' %}" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name='coupon-code' class="form-control" placeholder="Enter coupon code" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Apply</button>
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a coupon code.
                                </div>
                            </div>
                        </form>
                        {% for coupon in coupons %}
    <div class="coupon-container" style="display: inline-block;">
        <p class="coupon-title" style="display: inline-block; margin: 0;">{{ coupon.title }} : </p>
        <p class="coupon-code" style="display: inline-block; margin: 0;">{{ coupon.code }}</p>
        <button class="copy-button" style="display: inline-block;">
            <i class="icon fas fa-copy"></i>
        </button>
    </div>
    <br>
    <br>
{% endfor %}
                        
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-danger alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Address Section -->
    <div class="row">
        <form method="post" action="{% url "checkout" %}">
            {% csrf_token %}

            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        Select Address
                    </div>
                    <div class="card-body col-lg-12">
                        <div class="row">
                            <!-- Address  -->
                            {% for address in address %}
                            <div class="col-md-6">
                                <div class="">
                                    <input type="radio" value="{{ address.pk }}" id="add{{ address.pk }}" name="address">
                                    <label class="" for="add{{ address.pk }}">
                                        <div class="address-box">
                                            <p>{{ address.name }}, {{ address.phone }}, {{ address.address }}, {{ address.city }}, {{ address.pincode }}, {{ address.state }}</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add more address options as needed -->
                        <a href="{% url 'add_address' %}"> <p class="text-center">Add New Address</p></a>
                    </div>
                </div>
            </div>
            <!-- Coupon Section -->
        
    </div>

    <!-- Product Information Section -->
    <div class="card mb-4">
        <div class="card-header">
            Product Information
        </div>
        <div class="card-body" id="product-info">
            {% for cart_item in  cart_items %}
            <!-- Product 1 -->
            <div class="row mb-2">
                <div class="col-md-2">
                    <img src="{{ cart_item.product.product.images.first.image.url }}" alt="Product Image" class="img-fluid product-img">
                </div>
                <div class="col-md-4">
                    <p>{{cart_item.product.product.brand}} {{cart_item.product.product.title}} {{cart_item.product.variant_name}}</p> <!-- Product Name -->
                </div>
                <div class="col-md-2">
                    <p> {% with total_price=cart_item.product.selling_price|each_cart_item_price:cart_item.quantity %}
                        {{ total_price }}
                    {% endwith %}</p> <!-- Product Price -->
                </div>
                <div class="col-md-2">
                    <p>{{cart_item.quantity}}</p> <!-- Product Quantity -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Payment Section -->
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Payment Options
                </div>
                <div class="card-body">
                    <!-- Total Price -->
                    <p>Total: <span id="total-price">₹{{ cart|sub_total_of_cart }}</span></p>
                   {% if discount_percentage %} <p>Coupon Discount: <span id="total-price">₹{{ cart|calculate_discount_amount:discount_percentage }}</span></p>
                    <p>Sub Total: <span id="total-price">₹{{ cart|sub_total_of_cart:discount_percentage }}</span></p> 
                    <input type="hidden" name="amount" value="{{ cart|sub_total_of_cart:discount_percentage  }}">
                    {% else %}
                    <input type="hidden" name="amount" value="{{ cart|sub_total_of_cart}}">
                    {% endif %}
                    <!-- Cash on Delivery Option -->
                    <div class="custom-control custom-radio mb-3">
                        <input  value="cod" type="radio" id="cashOnDelivery" name="paymentOption" class="custom-control-input" checked>
                        <label class="custom-control-label" for="cashOnDelivery">Cash on Delivery</label>
                    </div>
                    <!-- Razorpay Option (Placeholder) -->
                    <div class="custom-control custom-radio">
                        <input value="online" type="radio" id="razorpay" name="paymentOption" class="custom-control-input">
                        <label class="custom-control-label" for="razorpay">Razorpay</label>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Proceed to Checkout Button -->
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-success btn-block">Place Order</button>
        </div>
    </div>
  </div>
</form>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Your custom JavaScript can go here -->

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <script>
    var copyButtons = document.querySelectorAll('.copy-button');
    copyButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var couponContainer = this.closest('.coupon-container');
            var textToCopy = couponContainer.querySelector('.coupon-code').innerText;
            navigator.clipboard.writeText(textToCopy)
                .then(function() {
                    var copyIcon = couponContainer.querySelector('.icon');
                    copyIcon.classList.remove('fa-copy');
                    copyIcon.classList.add('fa-check');
                    copyIcon.style.color = 'green';
                    setTimeout(function() {
                        copyIcon.classList.remove('fa-check');
                        copyIcon.classList.add('fa-copy');
                        copyIcon.style.color = '';
                    }, 2000); // Reset to copy icon after 2 seconds
                })
                .catch(function(err) {
                    console.error('Could not copy text: ', err);
                });
        });
    });
</script>
</body>
</html>
