{% extends 'base.html' %}
{% load static %}
{% block title%}All Products {% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
   .selected-category {
   font-weight: bold;
   color: red;
   /* Add any other styling you want for the selected category */
   }
</style>
<!--====== App Content ======-->
<div class="app-content">
<!--====== Section 1 ======-->
<div class="u-s-p-y-90">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-12">
            <div class="shop-w-master">
               <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>
                  <span>FILTERS</span>
               </h1>
               <div class="shop-w-master__sidebar sidebar--bg-snow">
                  <div class="u-s-m-b-30">
                     <div class="shop-w">
                        <div class="shop-w__intro-wrap">
                           <h1 class="shop-w__h">CATEGORY</h1>
                           <span class="fas fa-minus shop-w__toggle" data-target="#s-category" data-toggle="collapse"></span>
                        </div>
                        <div class="shop-w__wrap collapse show" id="s-category">
                           <ul class="shop-w__category-list gl-scroll">
                              <li class="text-dark">
                                 <input type="checkbox" name="category" value="Andriod" {% if 'Andriod' in categories %}checked{% endif %}> Andriod
                              </li>
                              <li class="text-dark">
                                 <input type="checkbox" name="category" value="IOS" {% if 'IOS' in categories %}checked{% endif %}> IOS
                              </li>
                              <li class="text-dark">
                                 <input type="checkbox" name="category" value="Feature" {% if 'Feature' in categories %}checked{% endif %}> Feature
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  {% comment %} 
                  <div class="u-s-m-b-30">
                     <div class="shop-w">
                        <div class="shop-w__intro-wrap">
                           <h1 class="shop-w__h">RATING</h1>
                           <span class="fas fa-minus shop-w__toggle" data-target="#s-rating" data-toggle="collapse"></span>
                        </div>
                        <div class="shop-w__wrap collapse show" id="s-rating">
                           <ul class="shop-w__list gl-scroll">
                              <li>
                                 <div class="rating__check">
                                    <input type="checkbox">
                                    <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                 </div>
                                 <span class="shop-w__total-text">(2)</span>
                              </li>
                              <li>
                                 <div class="rating__check">
                                    <input type="checkbox">
                                    <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                       <span>& Up</span>
                                    </div>
                                 </div>
                                 <span class="shop-w__total-text">(8)</span>
                              </li>
                              <li>
                                 <div class="rating__check">
                                    <input type="checkbox">
                                    <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                       <span>& Up</span>
                                    </div>
                                 </div>
                                 <span class="shop-w__total-text">(10)</span>
                              </li>
                              <li>
                                 <div class="rating__check">
                                    <input type="checkbox">
                                    <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                       <span>& Up</span>
                                    </div>
                                 </div>
                                 <span class="shop-w__total-text">(12)</span>
                              </li>
                              <li>
                                 <div class="rating__check">
                                    <input type="checkbox">
                                    <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                       <span>& Up</span>
                                    </div>
                                 </div>
                                 <span class="shop-w__total-text">(1)</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  {% endcomment %}
                  <div class="u-s-m-b-30">
                     <div class="shop-w">
                        <div class="shop-w__intro-wrap">
                           <h1 class="shop-w__h">PRICE</h1>
                           <span class="fas fa-minus shop-w__toggle" data-target="#s-price" data-toggle="collapse"></span>
                        </div>
                        <div class="shop-w__wrap collapse show" id="s-price">
                           <form class="shop-w__form-p" method="get" action="{% url 'all_products' %}" >
                              <div class="shop-w__form-p-wrap">
                                 <div>
                                    <label for="price-min"></label>
                                    <input class="input-text input-text--primary-style" value="{{min_price}}" type="number" name="min-price" placeholder="Min">
                                 </div>
                                 <div>
                                    <label for="price-max"></label>
                                    <input class="input-text input-text--primary-style" value="{{max_price}}" type="number" name="max-price" placeholder="Max">
                                 </div>
                                 <div>
                                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                                    <button class="btn btn--icon fas fa-angle-right btn--e-transparent-platinum-b-2" type="submit"></button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-9 col-md-12">
            <div class="shop-p">
               <div class="shop-p__toolbar u-s-m-b-30">
                  <div class="shop-p__meta-wrap u-s-m-b-60">
                     <span class="shop-p__meta-text-1">FOUND {{product_count}} RESULTS</span>
                  </div>
                  <div class="shop-p__tool-style">
                     <div class="tool-style__group u-s-m-b-8">
                        <div class="tool-style__form-wrap">
                           <div class="u-s-m-b-8">
                              <select class="select-box select-box--transparent-b-2" name="sort" id="sort-select">
                              <option value="" {% if not request.GET.sort %}selected{% endif %}>Sort By: Relevance</option>
                              <option value="latest" {% if request.GET.sort == "latest" %}selected{% endif %}>Sort By: Latest Items</option>
                              <option value="lowest-price" {% if request.GET.sort == "lowest-price" %}selected{% endif %}>Sort By: Lowest Price</option>
                              <option value="highest-price" {% if request.GET.sort == "highest-price" %}selected{% endif %}>Sort By: Highest Price</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="shop-p__collection">
                     {% for variant in variants %}
                     <div class="row is-list-active">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                           <div class="product-m">
                              <div class="product-m__thumb">
                                 <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url "product_detail" variant.id %}">
                                 {% if variant.product.images.all %}
                                 <img class="aspect__img" src="{% if variant.product.images.all %}{{ variant.product.images.first.image.url }}{% endif %}" alt="product image">
                                 {% endif %}
                                 </a>
                                 <div class="product-m__quick-look">
                                    <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a>
                                 </div>
                              </div>
                              <div class="product-m__content">
                                 <div class="product-m__category">
                                    <a href="shop-side-version-2.html">{{variant.product.category | title}}</a>
                                 </div>
                                 <div class="product-m__name">
                                    <a href="{% url "product_detail" variant.id %}">{{variant.product.brand}} {{variant.product.title}} ({{variant.variant_name}}) </a>
                                 </div>
                                 <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    <span class="product-m__review">(23)</span>
                                 </div>
                                 <div class="product-m__price">{{ variant.selling_price|floatformat:"0" }}
                                    <span class="product-m__discount">{{variant.original_price}}</span>
                                 </div>
                                 <div class="product-m__hover">
                                    <ul style="color : black">
                                       <li>{{variant.ram}} RAM | {{variant.storage}} ROM </li>
                                       <li>{{variant.product.display}} Display</li>
                                       <li>{{variant.product.back_camera}} | {{variant.product.front_camera}} Front Camera</li>
                                       <li>{{ variant.product.processor_brand}} {{variant.product.processor}} Processor</li>
                                       <li>{{variant.product.battery_capacity}} mAh</li>
                                    </ul>
                                    <div class="product-m__wishlist">
                                       <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                       <input id="product-id" type="hidden" name="product_id" value="{{variant.pk}}">
                                       {% if variant.pk in wishlist_product_pks %}
                                       <button class="add-to-wishlist-btn fas fa-heart" data-tooltip="tooltip" data-placement="top" style="color: red; background: none; border: none;" title="" disabled></button>
                                       {% else %}
                                       <button class="add-to-wishlist-btn far fa-heart" data-tooltip="tooltip" data-placement="top" style="color: red; background: none; border: none;" title="Add to Wishlist"></button>
                                       {% endif %}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <ul class="shop-p__pagination">
                     <!-- Previous page link -->
                     {% if variants.has_previous %}
    <li><a href="?page={{ variants.previous_page_number }}{% if sort_by %}&sort={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %} {% if min_price %}&min-price={{ min_price }}{% endif %} {% if max_price %}&max-price={{ max_price }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Previous</a></li>
{% endif %}

<!-- Page links -->
{% for num in variants.paginator.page_range %}
    <li class="{% if num == variants.number %}is-active{% endif %}">
        <a href="?page={{ num }}{% if sort_by %}&sort={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %} {% if min_price %}&min-price={{ min_price }}{% endif %} {% if max_price %}&max-price={{ max_price }}{% endif %}{% if category %}&category={{ category }}{% endif %}">{{ num }}</a>
    </li>
{% endfor %}

<!-- Next page link -->
{% if variants.has_next %}
    <li><a href="?page={{ variants.next_page_number }}{% if sort_by %}&sort={{ sort_by }}{% endif %}{% if query %}&query={{ query }}{% endif %} {% if min_price %}&min-price={{ min_price }}{% endif %} {% if max_price %}&max-price={{ max_price }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Next</a></li>
{% endif %}


                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->
<!-- SORT Script -->
<script>
   document.getElementById('sort-select').addEventListener('change', function() {
       var sortValue = this.value;
       var currentUrl = window.location.href.split('?')[0];
       var newUrl = currentUrl + '?sort=' + sortValue;
       window.location.href = newUrl;
   });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<!-- Add to wishlist Script -->
<script>
   jQuery(document).ready(function($) {
       $('.add-to-wishlist-btn').click(function(e) {
           e.preventDefault();
           var $button = $(this); // Reference to the button clicked
           var productId = $button.siblings('#product-id').val();
           $.ajax({
               type: 'POST',
               url: '{% url "add_to_wishlist" %}',
               data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'product_id': productId
               },
               success: function(response) {
                   // Add a class to show the notification
                   
                   // Disable the button after successful request
                   $button.addClass('fas fa-heart ')
                   $button.prop('disabled', true);
               },
               error: function(xhr, status, error) {
                   console.error(xhr.responseText);
               }
           });
       });
   
       // Close button for the notification
       $('.wishlist-notification .close-btn').click(function() {
           $('#wishlist-notification').removeClass('show');
       });
   });
</script>
<!-- CATEGORY SELECT  Script -->
<script>
   document.addEventListener("DOMContentLoaded", function () {
       const categoryCheckboxes = document.querySelectorAll('.shop-w__category-list input[type="checkbox"]');
       categoryCheckboxes.forEach(function (checkbox) {
           checkbox.addEventListener('change', function () {
               const selectedCategories = Array.from(categoryCheckboxes)
                   .filter(cb => cb.checked)
                   .map(cb => cb.value);
               const params = new URLSearchParams(window.location.search);
               params.set('category', selectedCategories.join(','));
               window.location.search = params.toString();
           });
       });
   });
</script>
{% endblock content %}