{% extends "base.html" %}
{% load static %}
{% block title%}Product Detail {% endblock %}
{% block content %}
<style>
   .variant-select-group {
   display: flex;
   justify-content: center;
   }
   .variant-select{
   border: 0.01rem solid #000000;
   font-weight: 600;
   background: white;
   width: 150px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
   }
   .variant-select span{
   color: #000000;
   }
   .variant-select:hover {
   border: 0.01rem solid #ff4500 ;
   }
</style>
<!--====== App Content ======-->
<div class="app-content">
   <!--====== Section 1 ======-->
   <div class="u-s-p-t-90">
      <div class="container">
         <div class="row">
            <div class="col-lg-5">
               {% if product %}
               <!--====== Product Breadcrumb ======-->
               <div class="pd-breadcrumb u-s-m-b-30">
                  <ul class="pd-breadcrumb__list">
                     <li class="has-separator">
                        <a href="index.hml">Home</a>
                     </li>
                     <li class="has-separator">
                        <a href="shop-side-version-2.html">Products</a>
                     </li>
                    
                     <li class="is-marked">
                        <a href="shop-side-version-2.html">{{product.product.category.name}} Phone</a>
                     </li>
                  </ul>
               </div>
               <!--====== End - Product Breadcrumb ======-->
               <!--====== Product Detail Zoom ======-->
               <div class="pd u-s-m-b-30">
                  <div class="slider-fouc pd-wrap">
                     <div id="pd-o-initiate">
                        {% for product_image in product_images %}
                        <div>
                           <img class="u-img-fluid" src="{{ product_image.image.url }}" alt="">
                        </div>
                        {% endfor %}
                     </div>
                  </div>
                  <div class="u-s-m-t-15">
                     <div class="slider-fouc">
                        <div id="pd-o-thumbnail">
                           {% for product_image in product_images %}
                           <div>
                              <img class="u-img-fluid" src="{{ product_image.image.url }}" alt="">
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
               <!--====== End - Product Detail Zoom ======-->
            </div>
            <div class="col-lg-7">
               <!--====== Product Right Side Details ======-->
               <div class="pd-detail">
                  <div>
                     <span class="pd-detail__name" style="display: inline-block; margin-right: 20px;">{{product.product.brand.brand}} {{product.product.title}} ({{product.variant_name}})</span>
                     <div class="product-m__wishlist" style="display: inline-block;">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input id="product-id" type="hidden" name="product_id" value="{{product.pk}}">
                        {% if wishlist%}
                        <button class="add-to-wishlist-btn fas fa-heart" data-tooltip="tooltip" data-placement="top" style="color: red; background: none; border: none;" title="" disabled></button>
                        {% else %}
                        <button class="add-to-wishlist-btn far fa-heart" data-tooltip="tooltip" data-placement="top" style="color: red; background: none; border: none;" title="Add to Wishlist"></button>
                        {% endif %}
                     </div>
                  </div>
                  <div>
                     <div class="pd-detail__inline">
                        <span class="pd-detail__price">{{product.selling_price |floatformat:"0" }}</span>
                        <span class="pd-detail__discount">({{product.discount_percentage}}% off)</span><del class="pd-detail__del">{{product.original_price | floatformat:"0"}}</del>
                     </div>
                  </div>
                  <div class="u-s-m-b-15">
                     <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                        <span class="pd-detail__review u-s-m-l-4">
                        <a data-click-scroll="#view-review">23 Reviews</a></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-15">
                     <div class="pd-detail__inline">
                        <span class="pd-detail__stock ml-4">{{product.stock}} in stock</span>
                        {% comment %} <span class="pd-detail__left">{{product.stock}} left</span>
                     </div>
                     {% endcomment %}
                  </div>
                  <ul style="color : black">
                     <li>{{product.ram}} RAM | {{product.storage}} ROM </li>
                     <li>{{product.product.display}} Display</li>
                     <li>{{product.product.back_camera}} | {{product.product.front_camera}} Front Camera</li>
                     <li>{{product.product.processor}} Processor</li>
                     <li>{{product.product.battery_capacity}} mAh</li>
                  </ul>
                  <div class="variant-select-group">
                     {% for variant in variants %}
                     <div {% if variant.pk == product.pk %} style="background: #ff4500;" {% endif %}  class="variant-select" >
                     <a href="{% url 'product_detail' pk=variant.pk %}"><span {% if variant.pk == product.pk %} style="color: #ffffff;" {% endif %} >{{variant.ram}} + {{variant.storage}} </span></a>
                  </div>
                  {% endfor %}
               </div>
               <div class="u-s-m-b-15">
                  <div class="u-s-m-b-15">
                     <ul class="pd-social-list">
                        <li>
                           <a id="whatsapp-share-button"  class="s-wa--color-hover" href=""><i  class="fab fa-whatsapp"></i></a>
                        </li>
                     </ul>
                  </div>
                  <div class="u-s-m-b-15">
                     <form class="pd-detail__form" id="myForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if product.stock == 0  %}
                        <a href="" class="btn btn--e-brand-b-2">Out of stock</a>
                        {% elif cart_item %}
                        <a href="{% url 'cart' %}" class="btn btn--e-brand-b-2">Go to Cart</a>
                        {% else %}
                        <div class="pd-detail-inline-2">
                           <div class="u-s-m-b-15">
                              <input id="quantity" name="quantity" type="hidden" value="1" min="1" max="{% if product.stock > 10 %}10{% else %}{{ product.stock }}{% endif %}">
                              <input type="hidden" name="product-id" value="{{ product.pk }}" id="product-id">
                           </div>
                           <div class="u-s-m-b-15">
                              <a href="#" class="btn btn--e-brand-b-2" id="addToCartBtn">Add to Cart</a>
                           </div>
                        </div>
                        {% endif %}
                     </form>
                  </div>
                  <div class="u-s-m-b-15">
                     <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                     <ul class="pd-detail__policy-list">
                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
                           <span>Buyer Protection.</span>
                        </li>
                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
                           <span>Full Refund if you don't receive your order.</span>
                        </li>
                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
                           <span>Returns accepted if product not as described.</span>
                        </li>
                     </ul>
                  </div>
               </div>
               <!--====== End - Product Right Side Details ======-->
            </div>
         </div>
      </div>
   </div>
 
   {% endif %}
 
</div>
<!--====== End - App Content ======-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!--====== Add to cart script ======-->
<script>
   jQuery.noConflict();
   jQuery(document).ready(function($) {
       $('#addToCartBtn').click(function(e) {
           e.preventDefault();
           var formData = new FormData($('#myForm')[0]);
           $.ajax({
               type: 'POST',
               url: '{% url "add_to_cart" %}',
               data: formData,
               processData: false,
               contentType: false,
               success: function(response) {
                   // Check if the response contains a success message
                   if (response.success_message) {
                       // Handle success message (if needed)
                       // Reload the page or perform other actions as needed
                       window.location.reload();
                   } else {
                       window.location.href = '/signin/';
                   }
               },
               error: function(xhr, status, error) {
                   // Handle errors here
                   if (xhr.status == 302) {
                       // Redirect to the signin page
                       window.location.href = xhr.getResponseHeader("Location");
                   } else {
                       
                       console.error(xhr.responseText);
                   }
               }
           });
       });
   });
</script>
<!--====== End Add to cart script ======-->


<!--====== whatsapp share link ======-->
<script>
   document.getElementById("whatsapp-share-button").addEventListener("click", function() {
       var currentURL = encodeURIComponent(window.location.href);
       var whatsappURL = "https://api.whatsapp.com/send?text=" + currentURL;
       window.open(whatsappURL, "_blank");
   });
</script>
<!--====== whatsapp share link ======-->



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 


        <!-- Add to wishlist Script -->
        <script>
            jQuery(document).ready(function($) {
                $('.add-to-wishlist-btn').click(function(e) {
                    e.preventDefault();
                    var $button = $(this); // Reference to the button clicked
                    var productId = $button.siblings('#product-id').val();
                    $.ajax({
                        type: 'POST',
                        url: '{% url "add_to_wishlist" %}',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'product_id': productId
                        },
                        success: function(response) {
                            // Add a class to show the notification
                            
                            // Disable the button after successful request
                            $button.addClass('fas fa-heart ')
                            $button.prop('disabled', true);
                        },
                        error: function(xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                });
        
                // Close button for the notification
                $('.wishlist-notification .close-btn').click(function() {
                    $('#wishlist-notification').removeClass('show');
                });
            });
        </script>

{% endblock %}