{% extends 'admin_base.html' %}
{% load static%}
{% block content %}
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white me-2">
      <i class="mdi mdi-home"></i>
    </span> Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Overall Orders <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{total_order_count}}</h2>
        <h6 class="card-text">Increased by 60%</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Overall Amount <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{total_amount}}</h2>
        <h6 class="card-text">Decreased by 10%</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Overall Discount <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{total_discount}}</h2>
        <h6 class="card-text">Increased by 5%</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-warning card-img-holder text-danger">
      <div class="card-body">
        <img src="{% static 'admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Pending Shipping <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{pending_shipping_count}}</h2>
        
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-secondary card-img-holder text-dark">
      <div class="card-body">
        <img src="{% static 'admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Pending Delivery <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{pending_delivery_count}}</h2>
        
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-dark card-img-holder text-white">
      <div class="card-body">
        <img src="{% static 'admin/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Pending Return Request <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{pending_return_request}}</h2>
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          
          
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Sales</h4>
                <canvas id="barChart" style="height:230px"></canvas> 
              </div>
            </div>
            <div>
              <button class="btn btn-success" id="yearlyBtn">Yearly Sales</button>
              <button class="btn btn-success" id="monthlyBtn">Monthly Sales</button>
          </div>
            
          </div>
          
        </div>
        
      </div>
    </div>
  
  <div class="col-md-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Payment Method Percentage</h4>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Orders</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Customer </th>
                <th> Product </th>
                <th> Status </th>
                <th> Last Update </th>
                <th> Order Id </th>
              </tr>
            </thead>
            <tbody>
              {% for order in recent_orders  %}
              <tr>
                <td>
                  <img src=" {% static 'admin/assets/images/faces/face1.jpg' %}" class="me-2" alt="image"> {{order.order.owner.customer.name}}
                </td>
                <td> {{order.product.product.brand}} {{order.product.product.title}} <br> {{order.product.variant_name}} </td>
                <td>
                  <label class="text-center badge badge-gradient-{% if order.order_status == 1 %}primary{% elif order.order_status == 2 %}secondary{% elif order.order_status == 3 %}success {% elif order.order_status == 4 %}warning {% elif order.order_status == 5 %}danger {% else %}danger{% endif %}">{% if order.order_status == 1 %}Confirmed{% elif order.order_status == 2 %}Shipped{% elif order.order_status == 3 %}Delivered{% elif order.order_status == 4 %}Return Requested{% elif order.order_status == 5 %}Returned {% elif order.order_status == -1  %} Cancelled {% elif order.order_status == -2 %}Seller Cancelled{% endif %}</label>
                </td>
                <td> {{order.updated_at}}</td>
                <td>{{order.id}}</td>
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
 
</div>
<div class="row">
  <div class="col-md-7 grid-margin stretch-card">
    
   
  </div>
   


  {% endblock content %}
  {% block thispagelinks %}
    <!-- Plugin js for this page -->

    <script src="{% static 'admin/assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
    <!-- End plugin js for this page -->
        <!-- Custom js for this page -->
        <script src="{% static 'admin/assets/js/dashboard.js' %}"></script>
        <script src="{% static 'admin/assets/js/todolist.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <!-- End custom js for this page -->

        <!-- payment percentage chart script -->
        <script>
          var xValues = ["COD", "Online",];
          var yValues = {{payment_percentage}};
          var barColors = [
            "#ff3300",
            "#0000ff"
          ];
          
          new Chart("myChart", {
            type: "pie",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            
          });
          </script>

        <!-- End payment percentage chart script -->

         <!-- Sales Report chart script -->
         <script>
          $(function () {
              'use strict';
      
              var data = {
                  labels: ["2022", "2023", "2024", "2025", "2026"],
                  datasets: [{
                      label: 'No of Sales',
                      data: {{year_wise_sales}},
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1,
                      fill: false
                  }]
              };
      
              var options = {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  },
                  legend: {
                      display: false
                  },
                  elements: {
                      point: {
                          radius: 0
                      }
                  }
              };
      
              var barChartCanvas = $("#barChart").get(0).getContext("2d");
              var barChart = new Chart(barChartCanvas, {
                  type: 'bar',
                  data: data,
                  options: options
              });
      
              // Click event for monthly button
              $("#monthlyBtn").click(function() {
                  // Update chart data for monthly sales
                  data.labels = ["Jan", "Feb", "Mar", "Apr", "May",'Jun','July','Aug','Sept','Oct','Nov','Dec'];
                  data.datasets[0].data = {{monthly_sales_2024}};
                  barChart.update();
              });
      
              // Click event for yearly button
              $("#yearlyBtn").click(function() {
                  // Update chart data for yearly sales
                 data.labels = ["2022", "2023", "2024", "2025", "2026"];
                 data.datasets[0].data = {{year_wise_sales}};
                  barChart.update();
              });
      
          });
      </script>


    
    {% endblock  %}